<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Vessels</title>
</head>
<body>
<div align="center">
<h1>Vessel in org: <br></h1>
<table border="3">
    <thead>
    <tr>
        <th> SF Id</th>
        <th> Vessel Name</th>
        <th> Vessel capacity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vessel : ${vessels}">
        <td><span th:text="${vessel.salesforceId}"> SF Id </span></td>
        <td><span th:text="${vessel.vesselName}"> Vessel Name </span></td>
        <td><span th:text="${vessel.cargoCapacity}"> Vessel capacity </span></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>